/* 
  This is a Sass partial
  File used to set styles for the header
*/
.header {
  padding: 2em 0;
}
.header__logo {
  color: $secondary-color;
  font-weight: bold;
  font-size: 3em;
  @media(max-width: $mobile-max-width) {
    float: none;
    text-align: center;
  }
}
.header__search {
  @media(max-width: $mobile-max-width) {
    float: none;
    text-align: center;
  }
}