/* 
  This is a Sass partial
  File used to set styles for loading screen
  Have the constants partial file as dependency
*/

@import "../constants";

.loading {
  background: $loading-screen-bg;
  color: $primary-color;
  display: none;
  height: 100%;
  left: 0;
  margin:0 auto;
  opacity: 0.95;
  padding-top: 4em;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999;
}
.loading__text {
  font-weight: bold;
  text-align: center;
}
