/* 
  This is a Sass partial
  File used to set styles for pagination
  Have the constants partial file as dependency
*/

@import "../constants";

.pagination__btn {
  background: none;
  border: none;
  color: $text-primary-color;
  cursor: pointer;
  font-size: 0.8em;
  &:hover {
    border-bottom: 1px solid;
    color: $secondary-color;
  }
  &:disabled {
    border-bottom: none;
    font-weight: normal;
    color: #B1B1B1;
    cursor: initial;
  }
}
.pagination__btn--active {
  border-bottom: 1px solid;
  color: $secondary-color;
  font-weight: bold;
}