/* 
  This is a Sass partial
  File used to set styles for the header
*/

@import "../constants";
.search {
  margin-top: 0.5em;
}
.search__input {
  font-size: 0.8em;
  padding: 0.5em 1.5em 0.5em 1em;
  @media(min-width: $desktop-min-width) {
    min-width: 22em;
  }
  @media(max-width: $mobile-max-width) {
    width: 70%;
  }
}
.search__icon {
  color: $tertiary-color;
  cursor: pointer;
  font-weight: bold;
  margin-left: -1.5em;
}