/* 
  This is a Sass partial
  File used to set styles for slider
*/

@import "../constants";

$disabled-slider-btn-color: #757575;

.slider-background {
  background: $tertiary-color;
  height: 15.625em;
  left: 0;
  position: absolute;
  width: 100%;
}
.slider {
  height: 31.25em;
  position: relative;
  width: 100%;
}
.slider__img {
  background-size: cover;
  display: none;
  height: 31.25em;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  z-index: 0;
}
.slider__img--active {
  display: block;
  z-index: 1;
}
.slider__btn {
  background: rgba(0,0,0,0.5);
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  margin-top: -2em;
  padding: 1em 2em;
  position: absolute;
  top: 50%;
  z-index: 2;
  &:hover {
    color: $secondary-color;
  }
  &:disabled {
    color: $disabled-slider-btn-color;
    cursor: initial;
  }
}
.slider__icon {
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
}
.slider__btn--left {
  left: 1em;
}
.slider__btn--right {
  right: 1em;
}