/* 
  This is a Sass partial
  File used to set styles for slider
  Have the constants partial file as dependency
*/

@import "../constants";
.thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4em 0 1.5em 0;
}
.thumbnail__img {
  background: $loading-screen-bg;
  border: 1px solid $primary-color;
  cursor: pointer;
  height: 9.375em;
  margin: 1em 0;
  width: 18%;
  &:hover, &:focus {
    border: 1px solid $secondary-color;
    opacity: 0.5;
  }
  @media(max-width: $mobile-max-width) {
    height: auto;
    width: auto;
  }
}
.thumbnail__img--active {
  border: 1px solid $secondary-color;
  opacity: 0.5;
}