/* 
  This is a Sass partial
  File used to set styles for the home page
*/

@import "../constants";

.app-body {
  position: relative;
}

.slider-container {
  background: $loading-screen-bg;
  height: 31.25em;
  z-index: 0;
}
.slider-container__load-text {
  color: #000;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 4em;
  z-index: 0;
}
.share {
  cursor: pointer;
  &:hover {
    color: $secondary-color;
  }
}
.share:hover .share__social, .share:focus .share__social {
  display: flex;
}
.share:hover .share__triangle, .share:focus .share__triangle {
  display: block;
}
.share:hover .share__temp {
  display: block;
}
.share__social {
  align-items: flex-end;
  background: $tertiary-color;
  display: none;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: -6.5em;
  @media(max-width: $mobile-max-width) {
    justify-content: space-between;
    left: 0;
    right: 0;
    top: -3em;
  }
}
.share__triangle {
  border-color: #660900 transparent transparent transparent;
  border-style: solid;
  border-width: 0.875em 0.5em 0 0.5em;
  display: none;
  height: 0;
  position: absolute;
  right: 2em;
  top: -0.9em;
  width: 0;
  @media(max-width: $mobile-max-width) {
    left: 50%;
    right: 0;
    top: 2.6em;
  }
}
.share__temp {
  display: none;
  height: 3.5em;
  position: absolute;
  right: 0;
  top: -0.625em;
  width: 14.5em;
  z-index: 0;
}
.credit-share-container {
  border-bottom: 5px solid #fff;
  padding: 1.2em 0;
  position: relative;
  @media(max-width: $mobile-max-width) {
    padding-bottom: 0;
  }
}
.credit-container {
  font-size: 0.8em;
  text-align: center;
}
.share-container {
  background: $tertiary-color;
  bottom: 0;
  font-size: 0.8em;
  padding: 1em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  @media(max-width: $mobile-max-width) {
    margin-top: 1em;
    position: static;
    text-align: center;
  }
}
.social__twitter, .social__facebook, .social__gplus, .twitter-tweet-button {
  margin-right: 0.5em;
}
.pagination-container {
  border-bottom: 5px solid #FFF;
  margin-bottom: 6em;
  padding-bottom: 0.5em;
  text-align: right;
  @media(max-width: $mobile-max-width) {
    text-align: center;
  }
}
.offline-info {
  background: $loading-screen-bg;
  color: $primary-color;
  height: 11.625em;
  margin: 0 auto;
  padding-top: 4em;
  width: 100%;
}
.offline-info__text {
  font-weight: bold;
  text-align: center;
}
.footer {
  background: #1D1D1B;
  min-height: 10em;
  width: 100%;
}