/* 
  This is a Sass partial
  File used to set constants used throughout the website
*/

// Font 
$primary-font: 'Open Sans';

// For media queries 
$mobile-max-width: 899px;
$desktop-min-width: 900px;

// Primary & secondary color of the website
$primary-color: #060C15;
$secondary-color: #FCB712;
$tertiary-color: #660800;

// Primary & secondary color for the text in the site
$text-primary-color: #FFF;
$text-secondary-color: #606060;

$loading-screen-bg: #D1D1D1;