/* 
   This is a Sass partial
   File for helper elements
*/
@import "constants";
.container {
  @media(min-width: $desktop-min-width) {
    margin: 0 auto;
    width: $desktop-min-width;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}